# templates/haproxy.cfg.j2
global
    # log /dev/log    local0
    # log /dev/log    local1 notice
    log stdout format raw local0 # Envía logs a stdout
    # Cambia la ruta del socket a una que la imagen Docker de HAProxy probablemente maneje mejor
    # y que el usuario 'haproxy' pueda escribir. /var/lib/haproxy/ es una opción común.
    stats socket /var/lib/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    # user haproxy # La imagen oficial de HAProxy se encarga del usuario
    # group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  60m
    timeout server  60m

frontend pg_frontend_rw
    bind *:{{ haproxy_listen_port_rw }}
    mode tcp
    default_backend pg_backend_rw

backend pg_backend_rw
    mode tcp
    balance first
    option httpchk  # <--- AÑADE ESTA LÍNEA para habilitar las comprobaciones HTTP
    http-check send meth GET uri /primary ver HTTP/1.1 hdr Host localhost
    http-check expect status 200

    {% for node in groups['postgres_nodes'] %}
    server {{ hostvars[node]['node_name'] }} {{ hostvars[node]['node_ip'] }}:5432 check port {{ patroni_api_port }} inter 3s fall 2 rise 3
    {% endfor %}

listen stats
    bind *:{{ haproxy_stats_port }}
    mode http
    stats enable
    stats uri /stats
    stats realm Haproxy\ Statistics
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
